<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="a crowdsourced minority report">
    <meta name="robots" content="noindex, nofollow, noarchive, notranslate, nosnippet, noimageindex" />
    <meta name="googlebot" content="noindex, nofollow, noarchive, notranslate, nosnippet, noimageindex" />
    <meta name="google" content="nositelinkssearchbox, notranslate, nopagereadaloud" />

    <title>a personal note</title>
    <link rel="shortcut icon" type="image/png" href="/img/thelighthouse64px.png" />
    <link rel="stylesheet" href="/css/global_fonts.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/responsiveTemplate.css">
    <style>
        .pic-row {
            display: flex;
            margin-bottom: 30px;
        }

        .pic-column {
            flex: 33.33%;
            padding: 5px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media only screen and (min-width: 300px) and (max-width: 600px) {
            .pic-row {
                flex-direction: column;
            }

            .pic-column {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <div id="menu-container">
        <div id="logo">
            <a href="/" draggable="false">
                <img id="logo-box" src="/img/thelighthouse1000px.png" width="64px" height="64px" alt="my app logo">

            </a>
            <!-- <div id="logo-sub"></div> -->
            <div>a crowdsourced minority report</div>
        </div>
        <nav>
            <!--  -->
            <!-- <li>
                <a href="/" draggable="false">THE MAP</a>
            </li> -->
            <li>
                <a href="/notes/idea" draggable=" false">PROJECT BRIEFING</a>
            </li>
            <!-- <li>
                <a href="/notes/recent" draggable="false">ON RECENT EVENTS</a>
            </li> -->
            <li>
                <a href="/notes/creators" draggable=" false">A PERSONAL NOTE</a>
            </li>
        </nav>

    </div>
    <div id="map-portion">
        <button id="toggle" title="close menu" onclick="toggler()">&#10096;</button>


        <div id="map-container">


            <div id="para">
                <img src="/img/my_picture.jpg" alt=""
                    style="border: 2px solid rgb(148, 184, 201);padding: 5px;border-radius: 50%;box-shadow: 1px 1px 2px rgb(185, 208, 219);">
                <h1>a personal note</h1>
                <p>Hello, I am Nabhodipta Garai, and if you think you cannot pronounce my name without offending me,
                    you
                    are probably right, but it’s okay you can call me Raj, even my parents call me by the latter name.
                </p>
                <p>If it doesn’t bother anyone I don’t think I identify myself as one of those over-enthusiastic
                    feminists but I assure you I am not
                    in
                    anyone’s way either, and I respect every woman, even the one who is not on speaking terms with me.
                </p>

                <p>right now, I am just too much frustrated to only light candles and write sympathetic posts about the
                    stuff that’s going on… as Dr.House once said -
                    <span style="background-color:white;color: rgb(34, 34, 34); font-weight: bold;">
                        time doesn’t change anything doing things differently
                        changes
                        things</span>.</p>
                <p>Shedding some light the name of this project,</p>
                <p>Lighthouse shines light to guide the correct path for ships to follow and also warns of potential
                    dangers in their path, and the word ‘saviour’, the first thing that comes to my mind nowadays is
                    that I
                    don’t need to be anyone’s saviour, but – <span>the world doesn’t need a saviour but every day I hear
                        people
                        crying for one</span> not my line quoting it from Superman Returns, to be honest I am not trying
                    to be
                    anyones
                    saviour, wasn’t trying back then, not trying even today, if anyone will be the saviour here,
                    it’s
                    you, for yourself and for the people you really care about...just do that, and that will be enough.
                    <br>
                    and as for the tagline "a crowdsourced minority report", I think the first two words are self
                    explanatory and
                    if you want to know the meaning of the remaining two.... you should go watch the movie</p>

                <p>Indeed I was going to delete the last remaining files of formerly known project RSF
                    but after seeing the recent events <br> I changed my mind.</p>
                <p>Right now I am not gathering any funds for this project because there might be some legal paperwork
                    needed and I just coded nonstop for the last two days, didn't get any time for that, and anyways
                    this is not a business idea, but the problem is, it is not feasible for me to finance this project
                    on my own,
                    so will probably start a Kickstarter
                    campaign to gather funds to improve the UIUX and keep the servers running..... that too if people
                    feel
                    they need this app...if I get proper cooperation from people, if they think they need
                    this kind of utility, I will continue to improve the concept this project is based on and I would
                    provide an app for
                    their smartphones, and one thing I want to make it clear that <span>I didn’t want and still don’t
                        want this to
                        become a habit-forming app…in no way should it ever become something without which you cannot
                        step
                        outside your home and it’s for everyone’s best interests that we work towards creating an
                        environment
                        where we won’t even need such applications</span>.
                    Hopefully if the attacks can be prevented again and again it will discourage potential criminals and
                    as a result the environment that presents them abundance of opportunities to commit crimes will be
                    altered permanently.</p>
                <!-- <p>To the people with whom I had discussed project RSF/RSA two years ago, Prof. Yunus Gangat and Prof.
                    Nilesh Ghonasgi, once again thank for your advice, and to my friends Debangshu Bhattacharya, Niloy
                    Kar, Anish Chakraborty thank you for your time and showing interest
                    and last but not the least... perhaps, the only second person whom I have let down a lot,
someone who had shown faith in my (misad)ventures no matter how unachievable they sounded - Danesh Dubash...
to all of you, sorry I couldn’t make much happen back then...</p> -->


                <div class="pic-row">
                    <div class="pic-column">
                        <img src="/img/thelighthouse1000px.png" alt="app logo" height="200px" width="200px">
                    </div>
                    <div class="pic-column">
                        <a href="https://www.facebook.com/thelighthousesaviourproject" target="_blank"
                            style="cursor: url(/img/finger24.png),auto;text-decoration: none;">
                            <img src="/img/facebook.png" alt="app facebook page"
                                style="cursor: url(/img/finger24.png),auto; height: 75px;width: 75px;"></a>
                    </div>
                    <div class="pic-column">
                        <a href="https://www.linkedin.com/company/the-lighthouse-saviour-project" target="_blank"
                            style="cursor: url(/img/finger24.png),auto;text-decoration: none;">
                            <img src="/img/linkedin.png" alt="my linkedin"
                                style="cursor: url(/img/finger24.png),auto; height: 75px;width: 75px;"></a>
                    </div>

                </div>





            </div>

        </div>
    </div>

    <script src="/js/template.js"></script>

</body>

</html>