<head>

    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="google" content="nositelinkssearchbox, notranslate, nopagereadaloud" />
    <title>attributions</title>

    <link rel="shortcut icon" type="image/png" href="/img/thelighthouse64px.png" />
    <style>
        body {
            cursor: url("/img/cursor16.png"), auto;
        }

        li {
            list-style: symbols(cyclic '@');
            margin: 20px;
        }

        span {
            color: blue;
        }
    </style>
</head>

<body>


    <li>MAP IS PROVIDED BY <span>Leaflet</span></li>
    <li>TILE LAYER IS PROVIDED BY <span>CartoDB</span></li>
    <li>
        THE GPS ICON WAS PROVIDED BY <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
        DOWNLOADED FROM <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </li>
    <li>
        THE HAND CURSOR ICON WAS PROVIDED BY <a href="https://www.flaticon.com/authors/freepik"
            title="Freepik">Freepik</a> DOWNLOADED FROM <a href="https://www.flaticon.com/"
            title="Flaticon">www.flaticon.com</a>
    </li>
    <li>THE BLACK CURSOR ICON WAS PROVIDED BY <a href="https://www.flaticon.com/authors/smashicons"
            title="Smashicons">Smashicons</a> DOWNLOADED FROM <a href="https://www.flaticon.com/"
            title="Flaticon">www.flaticon.com</a>
    </li>
    <li>THE SUPERMAN LIKE FONT USED IN THE LOGO IS <a
            href="https://www.dafont.com/pauls-super-font.font?text=S&psize=l">"Pauls Super Font"</a> BY <a
            href="https://www.dafont.com/paul.d3018?psize=l&text=S">Tattoo Paul</a></li>
    <li>THIS PROJECT WAS CREATED BY <img src="/img/chandler_giphy2.gif" alt="" srcset=""></li>

    <script>
        document.body.addEventListener('contextmenu', event => event.preventDefault());
    </script>
</body>