<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="a crowdsourced minority report">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, notranslate, noimageindex" />
    <meta name="googlebot" content="noindex, nofollow, noarchive, nosnippet, notranslate, noimageindex" />
    <meta name="google" content="nositelinkssearchbox, notranslate, nopagereadaloud" />

    <title>project briefing</title>
    <link rel="shortcut icon" type="image/png" href="/img/thelighthouse64px.png" />
    <link rel="stylesheet" href="/css/global_fonts.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/responsiveTemplate.css">
</head>

<body>
    <div id="menu-container">
        <div id="logo">
            <a href="/" draggable="false">
                <img id="logo-box" src="/img/thelighthouse1000px.png" width="64px" height="64px" alt="my app logo">

            </a>
            <!-- <div id="logo-sub"></div> -->
            <div>a crowdsourced minority report</div>
        </div>
        <nav>
            <!--  -->
            <!-- <li>
                <a href="/" draggable="false">THE MAP</a>
            </li> -->
            <li>
                <a href="/notes/idea" draggable=" false">PROJECT BRIEFING</a>
            </li>
            <!-- <li>
                <a href="/notes/recent" draggable="false">ON RECENT EVENTS</a>
            </li> -->
            <li>
                <a href="/notes/creators" draggable=" false">A PERSONAL NOTE</a>
            </li>
        </nav>

    </div>
    <div id="map-portion">
        <button id="toggle" title="close menu" onclick="toggler()">&#10096;</button>


        <div id="map-container">


            <div id="para">
                <h1 style="color: rgb(32, 32, 32);">project briefing</h1>
                <p
                    style="height: fit-content; background-color: rgb(255, 193, 193); color: red; font-size: 10pt;text-align: center;">
                    I am not good at explaining, so I will try
                    to keep it as simple as possible but still if it
                    gets overwhelming for you or if you find this discussion disturbing please feel free to close this
                    page… and also, proceed only if you are above 18</p>


                <h2><span style="background-color: yellow;">getting straight to the point, what I need you to do
                        &#8628;</span></h2>
                <p>You all know buildings that have been abandoned, places you have heard rumours about, places where
                    people are afraid to go to, the favourite hangout spot of your neighbourhood bully or wannabe
                    gangster,
                    places where people make lewd remarks as you pass by…or where you have seen people making lecherous
                    gestures to someone else... you just have to mark those locations on the map.</p>
                <p>This is a very minimal map, here you right click and select if you want to mark a place that is
                    isolated/deserted or someplace where you have seen people doing illegal activities or bullying, or
                    someplace where you have experienced or have seen some one being subjected to lewd behaviour.</p>
                <p><span>isolated places</span> are places where is crime is waiting to happen, <span>bad people</span>
                    are those who may commit it,
                    <span>lewd behavior</span> indicates places where some crime has already happened</p>
                <p>I know many would disapprove to this advice but please don’t go to those marked places until we can
                    come
                    up with some way to assert and confirm strict vigilance has been established in those places.</p>
                <p>Taking into account that women also face threat in places that are not isolated and must be most
                    secured
                    such as schools, public transport, workplaces even their homes, I have omitted the option to mark
                    safe
                    places.</p>
                <p>Sex offenders wait for the victim to be all alone to attack her, so it’s not about where you feel
                    safe
                    but rather where they feel safe, where they feel they won’t get caught and will get away with their
                    crime. This map is to bring out them from their holes to let them know that from now on it’s them
                    who
                    will be no longer safe always living in fear of their hideouts being discovered.</p>

                <h2><span style="background-color: yellow;">into the atoms… &#8628;</span></h2>
                <p>Law enforcement serves to prevent the law from being broken, and apprehend those who disobey it, the
                    judicial system is expected to serve Justice but Justice comes only after the crime has already been
                    committed or rather after the damage has already been done….</p>
                <h3><span> Wouldn’t it be much better if we don’t allow the crime to happen in the first place ?</span>
                </h3>
                <p>To prevent crimes we must dive into the very atoms of the crime committed, and from there how people
                    become criminals, take for example the problem for which predecessor of this project was created, to
                    prevent women and children from coming in contact with sex offenders –</p>
                <p>why do sex offenders attack women? because how the women dress? or perhaps “signals”? as often heard
                    the
                    criminals accuse the victims of having given them “signals” or as in pick-up-artist terms
                    “indicators of
                    interest”, no those are not the reasons…</p>
                <p>the reason sex offenders attack women is because they found her alone and since no one would be
                    watching
                    their actions and no one to stop them on spot, they couldn’t afford to lose that opportunity to take
                    advantage of her helplessness</p>
                <h2><span>Sex offenders don’t look for how a woman dresses or behaves in their presence to attack her,
                        it’s a
                        decision they have already made up in their minds that if they find a woman alone and if there
                        is no one
                        to stop them, they will attack her…. They just wait for someone to satisfy those conditions so
                        that they
                        can execute their plan.</span></h2>
                <p>How do people get to that point that they choose to become sex offenders?</p>
                <p><span>Everything a person does as an adult is merely a reflection of what they experienced and
                        learned in
                        their adolescent years.</span> Therefore, <span>upbringing matters</span>… how a person has been
                    raised by their parents,
                    how much importance they give to the women in their family/society/culture. If as a child they were
                    physically abused, then
                    the
                    trauma from that. Their friend circle, their school teachers, the choice of words they use while
                    speaking about women and talking to them, the level of sexist jokes they make when they are with
                    their
                    friends.
                    Their lifestyle habits. <span>Everything is connected</span>.</p>

                <p>So, at the root level we are looking for people who would take advantage of someone’s helplessness,
                    but
                    the problem is we don’t clearly know who these people might be, but we do know <span>the two main
                        conditions
                        the victim has to satisfy in order to fall prey to these monsters, the victim has to be alone
                        and
                        visibly weaker than the sex offender</span>.
                    If we are aware of such locations where people don't go and not many people go
                    and take appropriate measures for those places, it might be possible to defeat such criminals in
                    their own game</p>
                <p>Complete isolation of the victim and ability to overpower her are the two main requirements of this
                    kind
                    of crime… that’s why children are targeted to sexual abuse because of their inability to defend
                    themselves and adult women are being targeted to gang rapes because a person alone cannot overpower
                    the
                    adult victim by himself. Like predators in the wild, they are either hunting alone or hunting in
                    packs,
                    they are always in the look for an opportunity when their prey can be caught off-guard
                    isolated/left-behind/away from her herd. It can be inferred that <span>some part of our primitive
                        biological
                        nature hasn’t evolved yet</span>.</p>
                <p>The fact that they are not taking the chances of the victim being alive, shows how afraid they are,
                    and
                    the other reason for the victims less chance of survival is that, as the punishment for the crime
                    committed will get harsher the more they will try to eliminate their victim completely so that they
                    don’t have to bear the consequences of their crime which otherwise they would have to if the
                    victim’s
                    voice reaches the authorities. The harsher punishments are not discouraging such acts but rather
                    making
                    these criminals kill their victims. So <span>if we don’t want to make any compromise with the
                        punishment these
                        monsters deserve this would be a right time to think of ways to prevent the crime from
                        happening</span>.</p>
                <p>In the age where data has become equivalent of currency, people are dropping cues everywhere that
                    tells
                    a lot about them, such as locations where people search rape pornography and child pornography,
                    <span>people
                        who watch rape pornography or child pornography are nothing less than potential rapists</span>.
                </p>
                <img src="/img/ind_12m.png" alt="India last 12 months" style="margin-top: 10px; padding-top: 20px;">
                <p>This was retrieved from Google trends, this shows how much people living in India has searched for
                    rape
                    porn in the last 12 months, it is just as sick as the related queries</p>
                <p> On the map, I have included locations from Uttar Pradesh from where people have searched for rape
                    porn because if
                    you notice the 5 year graph shows a downward trend, and even in a downtrend the level of horrifying
                    crimes is breaking ceiling, and I don’t even want to imagine what would happen if the trend
                    reverses. <span>These things work somewhat like the stock market, but the thing is,
                        the fluctuations in the stock price are peoples expectations of what the stock price should be
                        and does
                        not determine the underlying value of the stock,
                        but in
                        this case it really shows what people are really interested in</span>.</p>
                <img src="/img/up5yr.png" alt="up 5yr" style="margin-top: 10px;padding-top: 20px;">
                <p>If you find this data disturbing, I would like to let you know that this data is just the tip of an
                    ice
                    berg, this data could only be found because the searches were made for indexed content, otherwise,
                </p>
                <p>
                    <span>behind the very beautiful curtains you can't stop admiring exists a world where people relish
                        pleasure
                        by inflicting horrors on innocent lives</span>
                    <br>also known as the darknet.
                </p>
                <div style="background-color: rgb(64, 114, 207); ">
                    <p style="padding: 5px; color: white; font-size: 13pt; font-weight: 600;">potential
                        safe places/hideouts of such criminals are mostly situated where ordinary people don't go,
                        and places where people watch rape pornography or child pornography or pornography in general
                        clearly indicate the low filthy minded nature of such people, so if we can point out such
                        locations
                        where people don’t
                        usually go and from google trends or some other service we can find where people watch
                        pornography,
                        we can chalk out
                        a map where people mustn’t go and law enforcement officials must provide stricter vigilance to
                        ensure the safety of the people, and also the government must enforce compulsory corrective
                        rehabilition programmes in those places for the people living there, this way we can always be a
                        step
                        ahead of such criminals and
                        prevent crimes from happening</p>
                </div>
                <!-- <p>This process might seem that it only provides a method to stay safe when we are outside our homes,
                    but
                    while many attacks happen inside four walls or even more the question might be raised if a woman
                    chooses to be alone somewhere must she be attacked? but believe me <span>things will change</span>, and for
                    things to change Tech, Law Enforcement and
                    Organisations who
                    provide corrective rehabilitation programs have to unite to make some progress happen. Users can
                    mark
                    locations where they feel something can go wrong and Law Enforcement can use that data to introduce
                    stricter vigilance in those places. Organisations can run corrective rehabilition programs in places
                    where the gender ratio is to too skewed and in places where people watch rape pornography and child
                    pornography or porn in general (the porn viewership data can be obtained from google trends and also
                    annual reports of pornhub). The vision I have is that once we know all
                    the probable
                    places where criminals might be waiting to attack people stricter vigilance from law enforcement
                    authorities will already be present in those places to stop them from attacking,
and hopefully the government would have also taken appropriate measures to bring back people on the correct path,
and if everything goes well a day will come when everyone can
                    live
                    and travel anywhere without any fear... one day when everyone will be good
and nice to each other they wouldn't even be needing this thing. </p> -->

                <p><span>Although tech may not be able to solve this problem but it can prevent from bad things
                        happening to
                        people.</span></p>

                <h2 style="color: rgb(32, 32, 32);">project RSF</h2>
                <p>This web application is rebuilt from a similar map like app I made in 2018, project RSF/RSA, both
                    this
                    and the previous one have same purpose, i.e. to identify life threatening locations and prevent
                    crime
                    from happening. Some inspiration was taken from <span>Plan International and Monash University's XYX
                        Lab's
                        work on Free To Be</span>. Although the main program from that project is no longer available,
                    some
                    portions of
                    the
                    research work is still intact, I was going to delete those last remaining files, but after observing
                    the
                    recent events that’s going on here, I have decided to publish a prototype for both users if it can
                    help
                    them to stay safe and for other developers if they can create something more useful for people.</p>

                <p>
                    I have made some changes to the previous model, removed the previous method of ranking locations by
                    gender ratio and porn viewership because it heavily relied on machine learning to analyse google
                    trends
                    and census data, and ML is beyond my domain. Honestly, I don’t know how much it will help…I have
                    created
                    a
                    very base model that focuses on eliminating the opportunity of perverts/people-with-malice coming in
                    contact with normal people…without this base even the predictive portions would be useless...
                </p>
                <p>In the previous project, I had tried using google trends to maximum capacity and the predictive model
                    was somewhat working, analysing past data along with news it gave some affirmative hits, like the
                    ones
                    where women using tinder were assaulted, prior to the attack there was a heavy spike in search of
                    tinder
                    porn… basically people searched terms on google after suffixing the word ‘porn’ to women belonging
                    to
                    every religion, culture, profession and relationship. I focused more on locations where people
                    search
                    rape pornography and child pornography. But what Google does is that, they collect that data after
                    removing all other parameters that could be used to individually identify the people searching those
                    terms, and then they display all that data for the city as a whole if searching within the state, or
                    the
                    state as a whole if searching within the country. I had merged it with census data where gender
                    ratio is
                    skewed.</p>
                <p style="margin-bottom: 30px;">On advice of my Economics professor Prof. Nilesh Ghonasgi, I tried to
                    find a correlation between
                    crimes
                    committed against women and literacy rate and unemployment rate, and the conclusion I could draw
                    from
                    there was that where literacy rates were high, crimes reported were high. But that only meant people
                    who
                    have received education were reporting the crimes, so there might be places where crimes are being
                    committed but aren’t being reported because people are not so literate. So, to fill up that
                    information gap, I took items from each type of crimes and grouped together the crimes where
                    the environment (circumstances/situations) in which the crime had occured were comparatively
                    similar; because <span>the
                        probability of a crime happening depends on the character of the person committing it and the
                        environment that presents any person abundance of opportunities to commit the crime</span>, I
                    think an
                    example would
                    make it much clearer -
                    (please excuse my language), [ groping, pick pocketing ] can be grouped together as they mostly
                    happen in
                    crowded places, similarly, [ rape, robbery ] happens when the victim is isolated and the predators
                    have a clear escape route or are rather confident that they will get away from the spot uncaught
                    after committing the crime. This was just an assumption with which I had proceeded back then, that
                    if people didn't report sex offenders due to whatever social dogmas that might have been
                    pressurizing them from reporting,
                    there could be a chance that they might be reporting other kind of crimes, so I took the reports for
                    those other
                    kind of crimes that were committed in similar environment and assumed them as indicators
                    for places where crimes against women such as sexual offences can be committed
                    and also as an indicator of possible under reporting of sexual offence related crimes.</p>




            </div>


        </div>
    </div>
    <script src="/js/template.js"></script>

</body>

</html>