<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the lighthouse saviour project</title>
    <link rel="shortcut icon" type="image/png" href="/img/thelighthouse64px.png" />
    <link rel="stylesheet" href="/css/global_fonts.css">
    <link rel="stylesheet" href="/css/template.css">
    <style>
        img {
            padding-top: 20px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div id="menu-container">
        <div id="logo">
            <a href="/" draggable="false">
                <img id="logo-box" src="/img/thelighthouse64px.png" alt="my app logo">

            </a>
            <!-- <div id="logo-sub"></div> -->
            <div>a crowdsourced minority report</div>
        </div>
        <nav>
            <!--  -->
            <li>
                <a href="/" draggable="false">THE MAP</a>
            </li>
            <li>
                <a href="/notes/idea" draggable=" false">PROJECT BRIEFING</a>
            </li>
            <li>
                <a href="/notes/recent" draggable="false">ON RECENT EVENTS</a>
            </li>
            <li>
                <a href="/notes/creators" draggable=" false">A PERSONAL NOTE</a>
            </li>
        </nav>

    </div>
    <div id="map-portion">
        <button id="toggle" title="close menu" onclick="toggler()">&#10096;</button>


        <div id="map-container">


            <div id="para">

                <h1>a word on recent events</h1>
                <p>There are no words to express the shame and regret for what has happened in Hathras, and all the
                    other victims who have suffered in the last few days, condolences to
                    the
                    victims' families, please stay strong there’s a long fight ahead....but you won't be fighting alone
                </p>
                <p>I don’t intend to offend anyone, but I’d like to point out that if she had to meet this fate because
                    of
                    her caste then here rape was used as a weapon, and this falls under a whole separate category i.e.
                    hate
                    crime. It’s a shame that in 21st Century, people are so back-dated, intolerant and still
                    discriminate on basis of caste....people still don't understand that bigotry and segregation is what
                    brings down a society</p>
                <p>This project aims to prevent rape and all other crimes involving a sexual act as an individual crime,
                    so
                    even if it may seem that this project might not help if rape is used as a weapon, I assure you, this
                    project is just the start, I believe many more people will come forward with much better solutions,
                    then
                    this kind of app wouldn’t even be required.</p>

                <p
                    style="height: 20px; background-color: rgb(255, 193, 193); color: red; font-size: 10pt;text-align: center;">
                    The following content might be disturbing for you read only if mentally strong and above 18</p>
                <p>I have used Google trends for finding places where people watch rape pornography, I downloaded the
                    .csv
                    files and found out the geographical coordinates of the places that came up in the results and then
                    manually added them to this system, it’s in testing phase and will be available fully after figuring
                    out
                    someway to afford automating the process.</p>
                <p>Initially for locations where people watch rape pornography, I was going to list locations in
                    Maharashtra, for Maharashtra I had to join data from the last one year to the previous five years to
                    come up the names of those locations where people watch rape pornography, namely: Mira Bhayandar,
                    Pimpri-Chinchwad, Vasai, Dombivili, Pune, Aurangabad, Mumbai, Navi Mumbai, Thane, Nagpur… it’s the
                    same kinda result
                    as
                    what I found two years ago</p>
                <p>
                    But then I thought to take a look at the metrics of Uttar Pradesh, names of 6 places came up just
                    for
                    the last hour, people need to search in huge volumes to generate that kind of traffic for machine
                    operated algorithms to notice it
                    and
                    register it as a trend… and for Maharashtra the same five names came up for last hour Mumbai, Mira
                    Bhayandar, Thane, Aurangabad and Pune.
                    And
                    since it has only been days after such a heinous crime has been committed, and people living there
                    are
                    not showing any remorse. For this prototype so I listed the places from UP because if you take a
                    look at the
                    graph of 5 year trend you will notice that it shows a falling trend...It's falling trend and this
                    kind of
                    crimes are happening, I don't even want to imagine what would happen if this downward trend
                    reverses. I
                    have included places from people had accesed rape pornography in the last 5 years
                </p>

                <img src="/img/mum1hr.png" alt="mumbai 1hr">
                <img src="/img/up1hr.png" alt="up 1hr">
                <img src="/img/up5yr.png" alt="up 5yr">
                <p>People watching rape pornography in UP, Maharashtra is just the tip of the ice berg, you will be
                    horrified with
                    the
                    last 12 months search data of rest of India...</p>
                <img src="/img/ind_12m.png" alt="India last 12 months">
                <p style="margin-bottom: 30px;">And this data could only be found because the searches were made for
                    indexed websites, otherwise,
                    <br><span>behind the very beautiful
                        curtains you can't stop admiring exists a world where people relish pleasure by inflicting
                        horrors
                        on innocent lives </span><br> also known as the deep web</p>

            </div>
        </div>


    </div>

    <script src="/js/template.js"></script>

</body>

</html>